<div class="container">
    <div class="row">

        <h1>Eat-Da-Burger!</h1>
        <p>You love burgers! You've stuffed your face with several burgers, but you have an insatiable appetite and lust for
            more. Throw up the burgers on the left and consume the uneaten ones on the right. Ya piggy!</p>
        <div class="col-sm-4">

            <h2>Burgers you've eaten!</h2>

            <ul>
                {{#each burgers}} {{#if this.devoured}}
                <li>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="btn puke" type="button">PUKE!</button>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>

        <div class="col-sm-4">
            <h2>Burgers to devour!</h2>
            <ul>
                {{#each burgers}} {{#unless this.devoured}}
                <li>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="btn devour" type="button">DEVOUR!</button>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col-sm-4">
            <h2>Add a Burger</h2>
            <form class="create-update-form" action="burgers/create" method="POST">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="burger_name">
                </div>

                <div class="form-group">
                    <label for="slee">Devoured?</label>
                    <br>
                    <input type="radio" name="devoured" value="0" checked> Devoured
                    <br>
                    <input type="radio" name="devoured" value="1"> Not Devoured
                </div>

                <button type="submit" class="btn btn-primary">Add Burger</button>
            </form>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.puke').on('click', function (e) {
            var data = $(this).data();

            $.ajax({
                url: "/burgers/update/" + data.id,
                type: "PUT",
                data: {
                    devoured: false
                },
                success: function () {
                    window.location.href = "/";
                }
            });
        });
        
        
        $('.devour').on('click', function (e) {
            var data = $(this).data();
            $.ajax({
                url: "/burgers/update/" + data.id,
                type: "PUT",
                data: {
                    devoured: true
                },
                success: function(){
                    window.location.href = "/";
                }
            });
        });
    })
</script>